.sass-cache
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
sdist
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
src/.env
.cache
.idea
statics_collected
.project
.installed.cfg
circus.pid
node_modules/
casperscreens/
*.locale.js

*~
*.swp
*.bak
/.settings
local.cfg
bootstrap.py
etc/*
var/*
bin/*
log/*
env/*
develop-eggs/*
eggs/*
parts/*
*.tar.gz
.sass-cache
npm-debug.log

ansible.cfg

local_settings.py